.btn
  height: 45px
  width 100%
  user-select: none
  position: relative
  display: flex;
  justify-content: center
  align-items: center
  overflow: hidden
  color: #fff
  border-radius: 50px
  box-shadow: inset 0px -3px 0px 0px rgba(122, 83, 8, 0.4);
  background: linear-gradient(180.57deg, rgb(255, 154, 68) 6.424%,rgb(243, 112, 0) 89.965%)
  text-transform: uppercase
  font-family: 'Raleway-Bold'
  font-weight: 700
  font-size: 12px
  line-height: 120%
  transition transform 0.5s, top 0.8s
  +above($breakpoints.sm)
    font-size: 11px;
    height: 50px;
  +above($breakpoints.md)
    font-size: 14px;
    height: 55px;
  +above($breakpoints.xxl)
    font-size: 16px;
    height: 60px

  &:hover
    transform: scale(1.02)

  &:active
    top: 3px

  &::before
    content: ""
    position: absolute
    top: 0;
    height: 100%;
    width: 36px;
    transform: skewX(-45deg)
    left: -150%
    pointer-events: none
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    animation: flareAnimation 4s infinite ease-in;
    vendord = official
    @keyframes flareAnimation
      0%
          left: -150%
      100% 
          left: 250%

  &--call-me
    cursor pointer
    font-family: 'Raleway-SemiBold'
    font-weight: 600
    text-transform: none
    font-size: 10px
    height: 24px
    width 108px
    +above($breakpoints.sm)
      font-size: 12px;
      height: 34px;
      width 140px
    +above($breakpoints.md)
      font-size: 13px;
      height: 38px;
      width 150px
    +above($breakpoints.xxl)
      font-size: 14px;
      height: 40px
      width 160px


  // &--green
  //   background-color #1B3A06
  //   color: #fff
